python-if_else_loops_functions/9-main.py
python-if_else_loops_functions/__pycache__/10-add.cpython-310.pyc
python-if_else_loops_functions/10-main.py
python-if_else_loops_functions/__pycache__/11-pow.cpython-310.pyc
python-if_else_loops_functions/11-main.py
python-if_else_loops_functions/12-main.py
python-if_else_loops_functions/__pycache__/12-fizzbuzz.cpython-310.pyc
